# Application
ENVIRONMENT=
PORT=

# Token / Auth
TOKEN_EXPIRATION=
JWT_SECRET=
JWT_EXPIRATION_TIME=

# Client Hosts
CLIENT_HOST_NAME=
ADMIN_HOST_NAME=

# Database
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
